<div class="center hero-unit">
	<h1>Welcome to TalkStream Beta</h1>

	<p>
		Learn new languages in
		<a href="http://www.Rich20Something.com/">real time</a>. Make friends in every corner of the world.
	</p>

	<%= link_to "Take the tour!", signup_path, class: "btn btn-large btn-primary btn-custom" %>
</div>



<%#= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>



